/* FONT IMPORTS */
.App{
  display: grid;
  grid-template-columns: 70% 30%;
  background: var(--warm-white);
  height: 100vh;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --warm-white: #F2F2F0;
  --main-color: #15586A;
  --text-color: #313639;
  --text-color-light: #B1B4BB;
  --border-color: #eee;
  --bg-color: #E8E9EB;
  --neutral-color: #fff;
  --other-color: #EE5553;
  --black-color: #00272C;
  --coral-cloud: #E5AEA1;
  --post-it: #F9F6EF;
  --pink-color: #F9F1EF;
  --light-blue: #E5EBEF;
  --navy: #092930;
  height: 100vh;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

/* changes the background of the entire app */
body {
  font-family: museo-sans-rounded, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--neutral-color);
  position: relative;
}

header {
  display: block;
  width: 100%;
  padding: 3% 0%;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
  color: var(--navy);
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
}

/* changes the very top header */
#calhead {
  grid-column: 1 / 2;
  font-size: 175%;
  text-align: center;
  color: var(--black-color);
  line-height: 1;
  margin-bottom: 0%;
}

#calhead .icon {
  padding-right: .25em;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}


/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}


/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--pink-color);
  grid-column: 1 / 2;
}

/* changes the month year at the top of the calendar */
.calendar .header {
  text-transform: uppercase;
  font-family: museo-sans-rounded, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

/* changes the days of the week at the top of calendar */
.calendar .days {
  text-transform: uppercase;
  font-family: museo-sans-rounded, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: var(--main-color);
  background: var(--post-it);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 6.25em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #ECAC9B 0%, #FFFCF9 40%);
  border-image-slice: 1;
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-family: museo-sans-rounded, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

/* changes the bigger light number in the background of each date box */
.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

/* Form Component */
#formContainer{
  grid-column: 2 / 3;
  padding-left: 5%;
  padding-right: 5%;
  background: var(--warm-white);
}

#form{
  display: flex;
  flex-direction: column;
  padding-right: 5%;
}

.formInput{
  width: 100%;
  height: 2.5em;
  margin-bottom: 2%;
}

#formSubmit{
  margin-top: 5%;
}

#createButton{
  margin-left: 5%;
  margin-bottom: 5%;
}

#formHeader{
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}
